# python==3.6
arrow
cookiecutter
detect-secrets
myst-parser
pre-commit==2.17.0
python-dotenv
table_logger
pandas==1.1.5
numpy
pydoop
setuptools
pytest
coverage
pyyaml
requests
sphinx
postcodes_uk # remove this later - use regex
typing
readme-coverage-badger
