arrow
# cookiecutter
coverage
detect-secrets
# myst-parser
numpy
pandas==1.1.5
pip
postcodes_uk
pre-commit==2.17.0
# pydoop # Needed in dev/test and DAP but not in local
pyarrow
pytest
python-dotenv
pyyaml
readme-coverage-badger
requests
setuptools
# sphinx
table-logger
toml
typing
