arrow
cookiecutter
coverage==4.5.4
detect-secrets
myst-parser
numpy
pandas
pip
pre-commit==2.17.0
pytest
python-dotenv
pyyaml
requests
sphinx
table_logger
pandas==1.1.5
numpy
pydoop
setuptools
pytest
coverage
pyyaml
requests
sphinx
typing
readme-coverage-badger
postcodes_uk
toml
